<% @users.each_with_index do |user, index| %>
  <li class="contact <%= index == 0 ? 'active' : '' %>" id="user-<%= index %>">
    <div class="d-flex bd-highlight" onclick="showChat('user-<%= index %>', '<%= user&.id %>')">
      <div class="img_cont">
        <img src="<%= user&.photo %>" class="rounded-circle user_img">
        <span class="online_icon <%= user&.online? ? '' : 'offline' %> onlineStatus-<%= user&.id %>"></span>
      </div>
      <div class="user_info">
        <span><%= user&.full_name %></span>
        <p class="onlineText-<%= user&.id %>"><%= user&.offline_time? %></p>
      </div>
    </div>
  </li>
<% end %>
