<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'login100-form validate-form') do |f| %>
				<span class="login100-form-title">
					Sign up
				</span>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input class="input100" type="text" name="user[email]" placeholder="Email" id="user_email">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "First Name">
          <%= f.text_field :first_name, autocomplete: "first_name", class: 'input100', placeholder: 'First Name', require: true %>
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Last Name">
          <%= f.text_field :last_name, autocomplete: "last_name", class: 'input100', placeholder: 'Last Name', require: true %>
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Password is required">
          <%= f.password_field :password, autocomplete: "new-password", class: 'input100', placeholder: 'Password', require: true %>
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input100', placeholder: 'Password Confirmation', require: true %>
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="container-login100-form-btn">
					<%= f.submit "Sign up", class: 'login100-form-btn' %>
				</div>

				<div class="text-center p-t-12">
					<span class="txt1">
						Login
					</span>
					<%= link_to "Log in", new_session_path(resource_name), class: 'txt2' %><br />
				</div>

				<div class="text-center p-t-136">
					<%= link_to "Create your Account", new_registration_path(resource_name), class: 'txt2' %><i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"><br />
				</div>
			<% end %>
		</div>
	</div>
</div>
