<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="col-xl-8 feed">
      <div class="create-post mb-md-2 contacts_card">
        <div class="card-body msg_card_body">
            <div class="d-flex justify-content-start mb-12">
              <div class="img_cont_msg_new_feed">
                <img src="<%= current_user&.photo %>" class="rounded-circle user_img_new_feed">
              </div>
              <div class="col-xl-9">
                <textarea onkeyup="return enablePost()" class="form-control type_new_feed" placeholder="Type your message..."></textarea>
              </div>
              <div class="col-xl-2"><br>
                <button class="btn btn-outline-primary my-2 btn-lg my-sm-0 post-status btn-block" disabled>Post</button>
              </div>
            </div>
        </div>
      </div>
    </div>
    <input type="hidden" class="post-id">
    <div class="col-xl-8 feed">
      <div class="feed_card contacts_card render-feed">
        <%= render 'homes/feeds' %>
      </div>
    </div>
    <%= render 'layouts/loading' %>
  </div>
</div>

<script>

  post = $('.show-post').length;
  function enablePost() {
    if ($('.type_new_feed').val() == '') {
      $('.post-status').prop('disabled', true);
      return true;
    } else {
      $('.post-status').prop('disabled', false);
      return false;
    }
  }

  $('.post-status').click(function() {
    postNewFeed();
  });

  function postNewFeed() {
    if ($('.type_new_feed').val() != '') {
      $.ajax({
        url: '/homes/new_feed',
        type: 'get',
        dataType: 'js',
        data: {
          content: $('.type_new_feed').val(),
          user_id: <%= current_user&.id %>,
          more_post: post
        }
      });
    }
    $('.type_new_feed').val('');
  }

  function enablePostComment(id) {
    if ($('.id-'+ id ).val() == '') {
      $('.post-comment-'+ id).prop('disabled', true);
      $('.post-id').val('');
      return true;
    } else {
      $('.post-comment-'+ id).prop('disabled', false);
      $('.post-id').val(id);
      return false;
    }
  }

  function postComment() {
    id = $('.post-id').val();
    if ($('.id-'+ id).val() != '') {
      $.ajax({
        url: '/homes/comment',
        type: 'get',
        dataType: 'js',
        data: {
          content: $('.id-'+ id).val(),
          user_id: <%= current_user&.id %>,
          post_id: id,
          more_post: post
        }
      });
    }
    $('.id-'+ id).val('');
  }

  $(window).scroll(function() {
    postMax = <%= @post_max %>
    max_page = $(document).height() - $(window).height()
    sessionStorage.scrollTop = $(this).scrollTop();
    if (postMax != post) {
      if (sessionStorage.scrollTop == 0 && post != 10) {
        $('.load-bar').show();
        $.ajax({
          url: '/homes/more_post',
          type: 'get',
          dataType: 'json',
          data: {
            user_id: <%= current_user&.id %>,
            more_post: 10
          },success: function (status) {
            $('.load-bar').hide();
          }
        });
      } else if (sessionStorage.scrollTop == max_page) {
        $('.load-bar').show();
        $.ajax({
          url: '/homes/more_post',
          type: 'get',
          dataType: 'json',
          data: {
            user_id: <%= current_user&.id %>,
            more_post: post + 10
          },success: function (status) {
            $('.load-bar').hide();
          }
        });
      }
    } else {
      $('.last-post').show();
    }
  });
</script>
